.overlay .player .playBox .song_attr .volume {
  display: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.overlay .player .playBox .song_attr .volume svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.overlay .player .playBox .song_attr .volume .player_slider {
  -webkit-appearance: none;
  appearance: none;
  background: #9ba3af;
  outline: none;
  z-index: 9999;
  opacity: 1;
}

.overlay
  .player
  .playBox
  .song_attr
  .volume
  .player_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  outline: none;
  background: #9ba3af;
  border: 1px solid #9ba3af;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.overlay
  .player
  .playBox
  .song_attr
  .volume
  .player_slider::-webkit-slider-thumb:hover {
  background: red;
  border: 1px solid red;
}

.overlay
  .player
  .playBox
  .song_attr
  .volume
  .player_slider::-webkit-slider-thumb:active {
  background: red;
  border: 1px solid red;
}

.overlay .player .playBox .song_attr .volume .player_slider::-moz-range-thumb {
  width: 7px;
  height: 7px;
  background: #9ba3af;
  outline: none;
  border: 1px solid #9ba3af;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  opacity: 1;
  display: block;
}

.overlay
  .player
  .playBox
  .song_attr
  .volume
  .player_slider::-moz-range-thumb:hover {
  background-color: red;
  border: 1px solid red;
}

.overlay
  .player
  .playBox
  .song_attr
  .volume
  .player_slider::-moz-range-thumb:active {
  background-color: red;
  border: 1px solid red;
}

.overlay .player .playBox .song_attr .volume .player_slider::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  outline: none;
  background: #9ba3af;
  border: 1px solid #9ba3af;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.overlay .player .playBox .song_attr .volume .player_slider::-ms-thumb:hover {
  background: red;
  border: 1px solid red;
}

.overlay .player .playBox .song_attr .volume .player_slider::-ms-thumb:active {
  background: red;
  border: 1px solid red;
}
